@use "../mixins";

.form-section {
  margin: 80px 0 150px 0;

  z-index: 10;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__inputset {
    display: flex;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: flex;

    width: 300px;
    min-height: 50px;

    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #4F4F4F;
  }

  &__inputs-block {
    display: flex;

    margin-left: 20px;
		width: 100%;

    & .form-section__button:last-child {
      margin-right: 0;
    }
  }

	&__slider {
		width: 100%;
		height: 9px;
		max-width: 418px;
		box-shadow: none;
		border: none;
		background: #D3D7DE;
		border-radius: 3px;

		.noUi-connect {
			background: #3440D9;
		}

		.noUi-handle {
			right: 0;
			width: 3px;
			height: 22px;
			box-shadow: none;
			border: none;
			background: #0113FF;
			border-radius: 0;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: transparent;
				width: 44px;
				height: 44px;
				content: '';
			}

			&::after {
				display: none;
			}
		}

		.noUi-tooltip {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			color: #FFFFFF;
			padding-left: 7px;
			padding-right: 7px;
			border: none;
			background: #0113FF;
			font-family: var(--font-family-default);

			&::before {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 0;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-top: 3px solid #0113FF;
				content: '';
			}
		}

		.noUi-value {
			padding-top: 2px;
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			font-family: var(--font-family-default);
			color: #8187A2;
		}

		.noUi-pips-horizontal {
			padding: 3px 0;
		}

		.noUi-marker {
			background: #ABB0C6;
		}

		.noUi-marker-large {
			height: 10px;
			width: 1px;
		}

		.noUi-marker-normal {
			width: 1px;
			height: 5px;
		}
	}

  &__button {
    height: 50px;
    border: none;
    border-radius: 9px;
    background-color: #D3D7DE;
    cursor: pointer;

    transition-duration: 0.1s;

    padding: 0 15px 0 15px;
    margin-right: 15px;

    &:hover {
      background-color: #9398D6;

      transition-property: background-color;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }
  }

  &__button-inner {
    font-family: var(--font-family-default);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #11263A;

    transition-duration: 0.1s;
  }

  &__button--active {
    background-color: #3440D9;

    transition-duration: 0.1s;
  }

  &__button--active .form-section__button-inner {
    color: #FFFFFF;

    transition-duration: 0.1s;
  }

  &__buttonset {
    display: flex;
    flex-direction: column;
  }

  &__addmore {
    position: relative;

    width: 261px;
    height: 69px;
    border: 3px solid #75ADEF;
    background: transparent;

    margin-bottom: 25px;



    &:hover {
      background-color: #9398D6;

      transition-property: background-color;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }

    &:hover .form-section__addmore-caption {
      color: #FFFFFF;
      transition-duration: 0.1s;
    }
  }

  &__submit {
    width: 383px;
    height: 94px;
    border: 3px solid #3440D9;
    background: transparent;

    &:hover {
      background-color: #9398D6;

      transition-property: background-color;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }

    &:hover .form-section__submit-caption {
      color: #FFFFFF;
      transition-duration: 0.1s;
    }
  }

  &__addmore-caption {
    font-family: var(--font-family-default);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #75ADEF;

    transition-duration: 0.1s;
  }

  &__submit-caption {
    font-family: var(--font-family-default);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3440D9;

    transition-duration: 0.1s;
  }
}

.amount-type__minus-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #BDBDBD;
  border-radius: 9px;

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #11263A;

  margin: 0;
}

.amount-type__plus-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #BDBDBD;
  border-radius: 9px;

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #11263A;

  margin: 0;
}

.form-section__amount-input {
  width: 119px;
  height: 50px;

  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #828282;
  border-radius: 9px;

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #11263A;
  text-align: center;

  margin: 0 20px 0 20px;
}

.form-section__field-input {
  width: 377px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #828282;
  border-radius: 9px;

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #11263A;
  text-align: center;
}
