@use "../mixins";

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,:after,:before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;

  width: 100%;
  min-height: 100vh;

  margin: 0;
}